APP_NAME="POS Shop Backend"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE="Asia/Ho_Chi_Minh"
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=pos_shop
# DB_USERNAME=root
# DB_PASSWORD=

QUEUE_CONNECTION=database
CACHE_STORE=file
SESSION_DRIVER=file

# POS Billiards Settings
BILLIARDS_ROUNDING_MODE=exact_seconds # exact_seconds, minute_round, block_15m
BILLIARDS_MIN_MINUTES=0
